<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <% function stripEndQuotes(s){
        var t=s.length;
        if (s.charAt(0)=='"') s=s.substring(1,t--);
        if (s.charAt(--t)=='"') s=s.substring(0,t);
        return s;
    }%>

    <%- include('partial/navbar', {active: "Maintainance"}); %>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="container-fluid" align="center">
                <h1>List of all routes</h1>

                <ul>
                    <% if(result.length==0) { %>
                        <p>no routes available in the database</p>
                    <% } else
                        {
                            for(var i=0; i<result.length; i++) { %>
                                <li>
                                    <a href="item?_id=<%= JSON.stringify(result[i]._id).replace(/"/g, '') %>">
                                        <%= stripEndQuotes(JSON.stringify(result[i].name)) %>
                                    </a>
                                    </br>
                                    <div>
                                        <%= stripEndQuotes(JSON.stringify(result[i].creator)) %>
                                    </div>
                                    <p>
                                        <%= stripEndQuotes(JSON.stringify(result[i].description)) %>
                                    </p>
                                </li>
                        <%}}%>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>