<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">

    <!-- installed CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="leaflet/leaflet.css"/>
    <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css"/>

    <!-- locally created css -->
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>route: <%= stripEndQuotes(JSON.stringify(result[0].name)) %></title>
</head>

<body onload="showMapData('updateMap')">
    <%
    function stripEndQuotes(s){
        var t=s.length;
        if (s.charAt(0)=='"') s=s.substring(1,t--);
        if (s.charAt(--t)=='"') s=s.substring(0,t);
        return s;
    }
    %>
    <script type="text/javascript" language="javascript">
        function checkform()
        {
            var f = document.forms["updateForm"].elements;
            var cansubmit = true;

            for (var i = 1; i < 6; i++) {
                if (f[i].value.length == 0) cansubmit = false;
            }
            document.getElementById('submitbutton').disabled = !cansubmit;

            if(cansubmit) {
                document.getElementById("errorMsg").style.display = "none";
            }
            else
            {
                document.getElementById("errorMsg").style.display = "block";
            }
        }
    </script>


    <%- include('partial/navbar', {active: "Home"}); %>

    <main role="main" onload="checkform()">
        <div class="row" style="padding:10px">
            <div class="container-fluid">
                <h1 style="color:blue; text-align:center">Route Editor</h1>
            </div>
        </div>

        <p>Beschreibung der Seite, was sie tut / wozu sie da ist, nicht vergessen und Erläuterungen, z.B. was die rote Route und blaue Route ist und dass die rote alte Route in Map und Textarea wiederhergestellt werden kann......</p>

        <div class="row" style="padding:10px;">
            <div class="col-12 col-md-6">
                <div id="updateMap"></div>
            </div>
            <div class="col-12 col-md-6">
                <h1>Edit Route</h1>
                    <form action="/item/single" method="POST" name="updateForm" onsubmit="return validateJSONAndGeoJSON('updateRoute')">
                        <input type = "hidden" name = "_id" value="<%= result[0]._id %>"/>
                        Username:<br />
                        <input type="text" name="creator" onKeyup="checkform()" value="<%= result[0].creator %>"/><br>
                        Name of route:<br />
                        <input type="text" name="name" onKeyup="checkform()" value="<%= result[0].name %>"/><br>
                        Route in correct GeoJSON syntax:<br />
                        <textarea id="updateRoute" style="width:100%; height:300px" type="text" name="geoJson" onKeyup="checkform()">
                            <%= stripEndQuotes(JSON.stringify(result[0].geoJson, null, 2)) %> </textarea>
                        Timestamp:<br />
                        <input type="date" name="date" onchange="checkform()" value="<%= result[0].date %>"/>
                        <input type="time" name="time" onKeyup="checkform()" value="<%= result[0].time %>"/><br />
                        Type:<br />
                        <input type="radio" name="type" value="planned" <%if(result[0].type === "planned") {%>checked<%}%>> planned<br>
                        <input type="radio" name="type" value="completed" <%if(result[0].type === "completed") {%>checked<%}%>> completed<br>
                        <br/><br/>
                        <input type="submit" value="Update route" id="submitbutton"/>
                        <div id="errorMsg" style="display: none;">To update a route you need to fill in all blanks.</div>
                    </form>
            </div>
        </div>
    </main>

    <%- include('partial/footer', {active: "Home"}); %>

</body>
</html>

<script src="jquery/jquery.min.js"></script>
<script src="popper/umd/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="leaflet/leaflet.js"></script>
<script src="leaflet-draw/leaflet.draw.js"></script>

<script src="javascript/leafletDrawPolyline.js"></script>
<script src="javascript/validationGeoJSON.js"></script>
<script src="javascript/coordinateSwapping.js"></script>
<script src="javascript/createUpdateMaps.js"></script>
